
<div class="landing-body">
  
  <div class="router">
    <router-outlet></router-outlet>
  </div>
  

  <!-- Footer -->
  <div class="footer">
    <footer>
      Your One-Stop Cryptocurrency Dashboard built for Sentimental Analysis.<br>
      <div>
        <a href="https://github.com/angular/angular">  Github •
        </a> <a href="https://github.com/angular/angular">  Linkedin •
        </a> <a href="https://github.com/angular/angular">  Discord
        </a>
      </div>
    </footer>
  </div>
   
  </div>


