<table>
  <tr>
    <th class="header-border-left">#</th>
    <th>Coin</th>
    <th>Price (USD)</th>
    <th>% Change</th>
    <th>Market Cap</th>
    <th>Tweets</th>
    <th class="header-border-right">Verified Tweets</th>
  </tr>
  <tr *ngFor="let coin of coins" class="coin-row">
    <td class="border-left">{{ coin.market_cap_rank }}</td>
    <td>{{ coin.name }}</td>
    <td>{{ coin.current_price }}</td>
    <td 
    [ngClass]="{'positive': coin.price_change_percentage_24h > 0,
    'negative': coin.price_change_percentage_24h < 0}">
    {{ coin.price_change_percentage_24h.toFixed(2) }}</td>
    <td>{{ coin.market_cap }}</td>
    <td>{{ (coin.market_cap/13453900).toFixed(0) }}</td>
    <td class="border-right">{{ (coin.market_cap/114229008).toFixed(0) }}</td>
  </tr>
</table>

<!--         <td ><app-crypto-list-item  [attribute] = "coin.id" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.name" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.price" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.percentChange" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.mktCap" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.tweets" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.verifiedTweets " ></app-crypto-list-item></td> -->


