<table class = tbody>
  <tr>
    <th>#</th>
    <th>Coin</th>
    <th>Price</th>
    <th>% Change</th>
    <th>Mkt Cap</th>
    <th>Tweets</th>
    <th>Verified Tweets</th>
  </tr>
  <tr *ngFor="let coin of coins">
    <td>{{ coin.market_cap_rank }}</td>
    <td>{{ coin.name }}</td>
    <td>{{ coin.current_price }}</td>
    <td>{{ coin.price_change_percentage_24h }}</td>
    <td>{{ coin.market_cap }}</td>
    <td>{{ (coin.market_cap/13453900).toFixed(0) }}</td>
    <td>{{ (coin.market_cap/114229008).toFixed(0) }}</td>
  </tr>
</table>

<!--         <td ><app-crypto-list-item  [attribute] = "coin.id" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.name" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.price" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.percentChange" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.mktCap" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.tweets" ></app-crypto-list-item></td>
<td ><app-crypto-list-item  [attribute] = "coin.verifiedTweets " ></app-crypto-list-item></td> -->


