h1 {
    color: whitesmoke;
    padding-top: 50px;
    font-size: 3rem;
    padding-left: 30px;
}


.hub-img {
    position: absolute;
    z-index: -1;
    left: 40px;
    bottom: 10px;
    height: 40%;
    width: auto;
    mix-blend-mode: screen;
    opacity: 0.6;
}

.coin-img {
    position: absolute;
    z-index: -1;
    top: 20px;
    right: 0;
    height: 60%;
    width: auto;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.glow-img {
    position: absolute;
    z-index: -1;
    height: 1500px;
    width: 5000px;
    left: 900px;
    top: -350px;
    width: auto;
    opacity: 0.7;
    mix-blend-mode: screen;
}