/* You can add global styles to this file, and also import other style files */

body {
    background-color: #04172c;
    overflow:hidden;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background: #464768;
    background: linear-gradient(rgba(99, 136, 138, 0.5), #22214b);
    border-collapse: collapse;
  }

  .tbody {
      overflow: scroll;
  }